**/bin/
**/obj/
.vs/
.idea/
.DS_Store
*.user
*.suo
*.db
*.mdf
*.ldf
**/appsettings.Development.json
publish/
docker-data/
*.log

# Node / Vue
**/node_modules/
**/dist/

# Environment
.env
.env.*
!.env.example

# Frontend
RoomBooking.Frontend/
